MQTT-temp2gaugeNgraph.json
[
    {
        "id": "be9901ba.bd2f",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abb80be4.bd379",
        "type": "mqtt-broker",
        "z": "",
        "name": "startMQTT",
        "broker": "h2835530.stratoserver.net",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "2adefd12.3ecdda",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d6b75430.266d68",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Dashboard-Temperatur",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "18969c0d.1efa8c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44db31c2.f9066",
        "type": "ui_tab",
        "z": "",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4adb49b.b68e138",
        "type": "ui_group",
        "z": "",
        "name": "temp0",
        "tab": "44db31c2.f9066",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d93e1f26.493da8",
        "type": "ui_group",
        "z": "",
        "name": "temp1",
        "tab": "44db31c2.f9066",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d903b35.069f84",
        "type": "mqtt in",
        "z": "be9901ba.bd2f",
        "name": "#temp0",
        "topic": "ha/temp0/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "abb80be4.bd379",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "131b041c.cb1ba4"
            ]
        ]
    },
    {
        "id": "131b041c.cb1ba4",
        "type": "json",
        "z": "be9901ba.bd2f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "ac1914cf.9d9a5"
            ]
        ]
    },
    {
        "id": "ac1914cf.9d9a5",
        "type": "function",
        "z": "be9901ba.bd2f",
        "name": "temp0",
        "func": "msg.payload = msg.payload;\nmsg.topic = 'temp0';\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 370,
        "y": 40,
        "wires": [
            [
                "a134e761.f750b8",
                "3c06b994.41b686"
            ],
            []
        ]
    },
    {
        "id": "a134e761.f750b8",
        "type": "ui_gauge",
        "z": "be9901ba.bd2f",
        "name": "temp",
        "group": "4adb49b.b68e138",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "3c06b994.41b686",
        "type": "ui_chart",
        "z": "be9901ba.bd2f",
        "name": "",
        "group": "4adb49b.b68e138",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "hallo dat",
        "dot": true,
        "ymin": "15",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d52e76d4.34bf48",
        "type": "function",
        "z": "be9901ba.bd2f",
        "name": "temp1",
        "func": "msg.payload = msg.payload;\nmsg.topic = 'temp1';\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "972e18de.710b2",
                "c8759db0.065bb8"
            ],
            []
        ]
    },
    {
        "id": "972e18de.710b2",
        "type": "ui_gauge",
        "z": "be9901ba.bd2f",
        "name": "temp",
        "group": "d93e1f26.493da8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#00c7fd",
            "#669d34",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "c8759db0.065bb8",
        "type": "ui_chart",
        "z": "be9901ba.bd2f",
        "name": "",
        "group": "d93e1f26.493da8",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "hallo dat",
        "dot": true,
        "ymin": "15",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8497672c.9b9cc",
        "type": "mqtt in",
        "z": "be9901ba.bd2f",
        "name": "#temp1",
        "topic": "ha/temp1/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "abb80be4.bd379",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "1b3b50d3.73e6af"
            ]
        ]
    },
    {
        "id": "1b3b50d3.73e6af",
        "type": "json",
        "z": "be9901ba.bd2f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "d52e76d4.34bf48"
            ]
        ]
    }
]